.row {
  display: flex;
  flex-direction: row;
}

.box {
  width: 6rem;
  height: 6rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #006400;
}

body {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
}
